@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.image.revealing-image,
.image {
	display: block;
	width: 75%;
	max-width: 650px;
	height: auto;
	margin: 2rem auto;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.revealing-image {
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	animation: linear reveal both;
	animation-timeline: --revealing-image;

	animation-range: entry 0% cover 50%;
}

section.reveal {
	display: block;
	background-color: transparent;
	padding: 0;
	margin: 0 auto 1rem auto;
	border-radius: 0;
}
section.reveal:last-child {
	margin-bottom: 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.image-center {
	display: block;
	width: 85%;
	max-width: 700px;
	margin: 2rem auto;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	background-color: var(--code-bg);
	padding: 8px;
}